// assets/app/_utils.scss
.cursor-pointer { cursor: pointer; }
.w-full { width: 100%; }
.h-full { height: 100%; }

.text-primary-custom { color: $primary !important; }
.bg-primary-custom { background-color: $primary !important; }