// assets/page/_auth.scss
.auth-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-app;
}

.auth-card {
  width: 100%;
  max-width: 420px;
  border-top: 4px solid $primary !important;
}