// assets/variables.scss
$body-font-family: 'Roboto', sans-serif;
$font-size-root: 14px;

// Tùy chỉnh v-btn và các thành phần Vuetify
$btn-letter-spacing: 0;
$btn-text-transform: none; // Tắt tự động viết hoa trên v-btn