// assets/scss/colors.scss
$primary: #a2212b;         // Đỏ Bách Khoa
$primary-hover: #821a22;
$secondary: #424242;
$text-primary: #2c3e50;
$text-secondary: #6c757d;
$border-color: #e0e0e0;
$bg-app: #f4f6f9;
$white: #ffffff;